.CoinPrice {
    .title {
        text-align: center;
        font-size: 1em;
        font-weight: 600;
        position: relative;
    }
    .content {
        margin-top: 0.5em;
        text-align: center;
        .txtRed {
            color: rgb(255, 66, 66);
        }
        .txtBlue {
            color: rgb(97, 159, 209);
        }
    }
}