.CoinPrice {
    display: inline-block;
    width: 15rem;
    margin: 2rem;
    .title {
        text-align: center;
        font-size: 1em;
        font-weight: 600;
        position: relative;
    }
}