.MyInfoWrapper {
  margin: 0 2rem;
  align-items: center;
  text-align: center;

  .refresh {
    display: inline-block;
    margin-left: 2em;
  }
}

@media (max-width: 768px) {
  .MyInfoWrapper {
    width: 90%;
  }
}
