.Upbit {
    .title {
        font-size: 2em;
        font-weight: bold;
        padding: .7em;
        background-color: #093687;
        color: white;
    }

    .market {
        padding: 1em;
        flex: 1;

        .krw {
            font-size: 1em;
            background-color: #3367D6;
        }

        .btc {
            font-size: 1em;
            background-color: #F08919;
        }

        .subtitle {
            width: 30%;
            padding: .5em;
            background-color: #21262F;
            color: white;
        }
    }
}